<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <link rel="stylesheet" href="/static/a/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js"
        integrity="sha512-bPs7Ae6pVvhOSiIcyUClR7/q2OAsRiovw4vAkX+zJbw3ShAeeqezq50RIIcIURq7Oa20rW2n2q+fyXBNcU9lrw=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css"
        integrity="sha512-tS3S5qG0BlhnQROyJXvNjeEM4UpMXHrQfTGmbQ1gKmelCxlSEBUaxhRBj/EFTzpbP4RVSrpEikbmdJobCvhE3g=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css" />
    {% block head %}{% endblock head %}
  </head>
  <div class="a-row">
    <div class="a-row-col">
        <div class="a-row-col1">
            <a href="https://www.google.com/"><i class="fa fa-map-marker"
                    aria-hidden="true"></i></a>
            <p>123 Street, New York,USA</p>
        </div>
        <div class="a-row-col2">
            <a href="https://www.google.com/"><i class="fa fa-clock-o"
                    aria-hidden="true"></i></a>
            <p>Mon - Fri : 09.00 AM - 09.00 PM</p>
        </div>
    </div>
    <div class="a-row-col_log">
        <div class="a-row-col_log1">
            <a href="#"><i class="fa fa-phone" aria-hidden="true"></i></a>
            <a href="#">+012 345 6789</a>
        </div>
        <div class="a-row-col_log2">
            <ul>
                <li>
                    <a class="a-row-col-abc" href="https://www.google.com/"><i
                            class="fa fa-facebook" aria-hidden="true"></i></a>
                    <a class="a-row-col-abc" href="https://www.google.com/"><i
                            class="fa fa-twitter" aria-hidden="true"></i></a>
                    <a class="a-row-col-abc" href="https://www.google.com/"><i
                            class="fa fa-linkedin" aria-hidden="true"></i></a>
                    <a class="a-row-col-abc" href="https://www.google.com/"><i
                            class="fa fa-instagram" aria-hidden="true"></i></a>
                </li>
            </ul>
        </div>
    </div>
</div>

<div class="header">
  <div class="header_left">
      <h1>WooDY</h1>
  </div>

  <div class="header_right_col1">

      <label id="menu-toggle-icon">
          <a href="#"><i class="fa fa-bars" aria-hidden="true"></i></a>
      </label>
      <ul class="mobile-menu">
        <li class="active"><a href="/">HOME</a></li>
        <li><a href="/about">ABOUT</a></li>
        <li><a href="/service">SERVICE</a></li>
        <li><a href="/project">PROJECT</a></li>
        <li>
            <div class="dropdown">
                <button class="dropbtn">PAGE
                    <i class="fa fa-caret-down"></i>
                </button>
                <div class="dropdown-content">
                    <a href="/feature">Feature</a>
                    <a href="/free_quote">Free Quote</a>
                    <!-- <a href="/Our_Team">Our Team</a> -->
                    <a href="/Testimonial">Testimonial</a>
                    <a href="/Page">404 Page</a>
                  </div>
            </div>
        </li>
        <li><a href="/contact">CONTACT</a></li>
    </ul>

      <div class="header_right_col2">
          <a href="#">
              <P>Get A Quote</P>
          </a>
          <a href="#"><i class="fa fa-arrow-right" aria-hidden="true"></i></a>
      </div>
  </div>
</div>
                            <!-- script -->
<script>
  $(document).ready(function () {
      $('#menu-toggle-icon').click(function () {
          $('.mobile-menu').slideToggle();
      });
  });
</script>
{% block body %}{% endblock body %}

   
  </body>
</html>
